extends layout

block content
  h1 Albums
  ul
    each album in albums
      li
        
        


block scripts
  script(type="text/javascript").
    App.albums = new Albums(!{JSON.stringify(albums)});
